In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("dataset-1.csv")

In [3]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [4]:
df1 = df.copy()

### Question 1: Car Matrix Generation

In [5]:
car_matrix = pd.pivot_table(df, values="car", index="id_1", columns="id_2")
car_matrix.fillna(0, inplace=True)
car_matrix

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

### Question 2: Car Type Count Calculation

In [6]:
def get_type_count(df):

  # Define car type thresholds
  thresholds = {
      "low": 15,
      "medium": 25
  }

  # Create a new column 'car_type' based on car values
  df["car_type"] = pd.cut(df["car"], bins=[-float("inf")] + list(thresholds.values()) + [float("inf")],
                           labels=list(thresholds.keys()) + ["high"])

  # Calculate the count of occurrences for each car type
  type_counts = df["car_type"].value_counts().to_dict()

  # Sort the dictionary alphabetically based on keys
  sorted_counts = dict(sorted(type_counts.items()))

  return sorted_counts

type_counts = get_type_count(df1)


type_counts

{'high': 56, 'low': 196, 'medium': 89}

### Question 3: Bus Count Index Retrieval

In [7]:

def get_bus_indexes(df):

  # Calculate the mean of the bus column
  mean_bus = df["bus"].mean()

  # Identify bus values greater than twice the mean
  filtered_df = df[df["bus"] > 2 * mean_bus]

  # Extract and sort the bus indices
  bus_indexes = sorted(filtered_df.index.to_list())

  return bus_indexes

# Create a sample DataFrame
# Get the bus indexes
bus_indexes = get_bus_indexes(df1)

# Print the bus indexes
bus_indexes

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

### Question 4: Route Filtering

In [8]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [9]:
def filter_routes(df):

  # Calculate average truck values per route
  avg_truck_per_route = df.groupby("route")["truck"].mean()

  # Filter routes with average truck values above 7
  filtered_routes = avg_truck_per_route[avg_truck_per_route > 7]

  # Return sorted list of filtered route values
  return sorted(filtered_routes.index.to_list())

# Create a sample DataFrame


# Filter and sort routes based on average truck values
filtered_routes = filter_routes(df1)

# Print the filtered routes
print(filtered_routes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Question 5: Matrix Value Modification

In [10]:
df1

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_1      341 non-null    int64
 1   id_2      341 non-null    int64
 2   route     341 non-null    int64
 3   moto      341 non-null    float64
 4   car       341 non-null    float64
 5   rv        341 non-null    float64
 6   bus       341 non-null    float64
 7   truck     341 non-null    float64
 8   car_type  341 non-null    category
dtypes: category(1), float64(5), int64(3)
memory usage: 21.9 KB

In [12]:
def multiply_matrix(df):

  # Define multipliers for values above and below 20
  multiplier_high = 0.75
  multiplier_low = 1.25

  def apply_multiplier(value, dtype=int):

    try:
      value = dtype(value)
    except ValueError:
      # Handle non-numeric values appropriately
      return value

    if value > 20:
      return value * multiplier_high
    else:
      return value * multiplier_low

  # Apply the function to each value in the DataFrame
  modified_df = df.applymap(apply_multiplier)

  # Round all values to 1 decimal place
  modified_df = modified_df.round(1)

  return modified_df
modified_df = multiply_matrix(car_matrix)
modified_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_21944\2935668660.py:30: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  modified_df = df.applymap(apply_multiplier)

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,2.5,7.5,8.8,13.8,16.2,20.0,23.8,15.8,17.2,18.0,19.5,20.2,21.8,22.5,24.0,27.0,28.5,29.2
802,2.5,0.0,3.8,6.2,11.2,12.5,17.5,21.2,22.5,25.0,16.5,17.2,18.8,19.5,21.0,21.8,24.8,26.2,27.0
803,7.5,3.8,0.0,2.5,7.5,8.8,13.8,16.2,18.8,21.2,22.5,25.0,16.5,17.2,18.8,19.5,22.5,24.0,24.8
804,8.8,6.2,2.5,0.0,5.0,7.5,11.2,15.0,16.2,20.0,21.2,23.8,25.0,15.8,17.2,18.8,21.0,22.5,23.2
805,13.8,11.2,7.5,5.0,0.0,2.5,6.2,10.0,11.2,15.0,16.2,18.8,20.0,21.2,23.8,15.8,18.0,19.5,20.2
806,16.2,12.5,8.8,7.5,2.5,0.0,3.8,7.5,10.0,12.5,13.8,16.2,17.5,18.8,21.2,23.8,17.2,18.8,19.5
807,20.0,17.5,13.8,11.2,6.2,3.8,0.0,2.5,5.0,7.5,8.8,11.2,13.8,15.0,17.5,18.8,23.8,15.8,16.5
808,23.8,21.2,16.2,15.0,10.0,7.5,2.5,0.0,1.2,5.0,6.2,8.8,10.0,11.2,13.8,16.2,20.0,22.5,23.8
809,15.8,22.5,18.8,16.2,11.2,10.0,5.0,1.2,0.0,2.5,5.0,6.2,8.8,10.0,12.5,13.8,18.8,21.2,22.5
821,17.2,25.0,21.2,20.0,15.0,12.5,7.5,5.0,2.5,0.0,1.2,3.8,6.2,7.5,10.0,11.2,16.2,18.8,20.0
822,18.0,16.5,22.5,21.2,16.2,13.8,8.8,6.2,5.0,1.2,0.0,2.5,3.8,5.0,7.5,10.0,13.8,16.2,17.5
823,19.5,17.2,25.0,23.8,18.8,16.2,11.2,8.8,6.2,3.8,2.5,0.0,1.2,2.5,5.0,7.5,12.5,13.8,15.0
824,20.2,18.8,16.5,25.0,20.0,8.8,13.8,10.0,8.8,6.2,3.8,1.2,0.0,1.2,3.8,5.0,10.0,12.5,13.8
825,21.8,19.5,17.2,15.8,21.2,18.8,15.0,11.2,10.0,7.5,5.0,2.5,1.2,0.0,2.5,3.8,8.8,11.2,12.5
826,22.5,21.0,18.8,17.2,23.8,21.2,17.5,13.8,12.5,10.0,7.5,5.0,3.8,2.5,0.0,2.5,6.2,8.8,10.0
827,24.0,21.8,19.5,18.8,15.8,23.8,18.8,16.2,13.8,11.2,10.0,7.5,5.0,3.8,2.5,0.0,5.0,7.5,8.8
829,27.0,24.8,22.5,21.0,18.0,17.2,23.8,20.0,18.8,16.2,13.8,12.5,15.8,8.8,6.2,5.0,0.0,2.5,3.8
830,28.5,26.2,24.0,22.5,19.5,18.8,15.8,22.5,21.2,18.8,16.2,13.8,12.5,0.0,8.8,7.5,2.5,0.0,1.2
831,29.2,27.0,24.8,23.2,20.2,19.5,16.5,23.8,22.5,20.0,17.5,15.0,13.8,12.5,10.0,8.8,3.8,1.2,0.0

In [13]:
df1

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]